{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/a_cauvin/Desktop/CEFIM/Symfony/exercice_cours/holacine/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/a_cauvin/Desktop/CEFIM/Symfony/exercice_cours/holacine/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>

{{ dump(films)}}

<div class="row">
    {% for film in films %}

    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ film.category.name }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ film.title }}</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <img class="card-img" src="https://picsum.photos/1920/1680" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Film date : {{ film.releaseAt | date('d/m/Y') }}</text>
                </img>
            </div>
        </div>
    </div>

    {% endfor %}
</div>



{% endblock %}
